<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="F:/github/SwagLabsUIAutomation/Swag_Labs_UI_Automation_test/swaglabs"><classes><class name="com.SauceLabs.swaglabs.TestCases.TC001_LoginTest"><methods><include name="TC001_LoginTest"/></methods></class><class name="com.SauceLabs.swaglabs.TestCases.TC002_Incorrect_LoginTest"><methods><include name="TC001_LoginTest"/></methods></class><class name="com.SauceLabs.swaglabs.TestCases.TC_003_AddToCartProduct"><methods><include name="TC_003_AddToCartProduct"/></methods></class></classes></test></suite>